<!DOCTYPE html>
<html lang="en">

  <%- include(`./partials/head.ejs`);%>

  <a href='/drinks/'>Back to Index</a>

  <h1>At foo bar</h1>
  <h2>Drink: <%= drinks.name %> </h2>
  <h3>Price: $<%= drinks.price %>.00 </h3>
  <img src=<%= drinks.image %> /> 
  
</body>
</html>