<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drink Show Page</title>
</head>
<body>
  <h1>Drink Show Page</h1>
  <p>Drink: <%= drink.name %> </p>
  <img src=<%= drink.image %> /> 
  
    
</body>
</html>